*{
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif; 
}

header,main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
}

header{
    text-align: center;
    background-color: #3A69D2;
    color: #ffffff;
    padding: 3rem 3rem;
}

h1{
    
    font-size: 2.5rem ;
    font-weight: bold;
    margin-bottom: 1rem;


}


main{
    background-color: #1F2937;
    align-items: center;
}

.task-add-area{
    display: flex;
    width: 100%;
    max-width: 472px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.task{
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    max-width: 326px;
    font-size: 1.5rem;
    border: none;
   
}

.priceOption{
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    background-color: #F0F0F0;
    width: 92px;
    max-width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
  vertical-align: middle;
  border: none;

 
}

.addTask{
    width: 52px;
    max-width: 100%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: #fff;
    font-size: 2rem;
    background-color: #3A69D2;
    border: none;
}


.task-total-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 472px;
    
    
}

.task-info-headers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.task-title-total{
    font-weight: 700;
    color: #D5D4D8;
    font-size: 0.8rem;
}

